<button mat-button (click)="openDialog()">Open dialog</button>
<nav class="navbar-light bg -primary">
    <div class="main">
      <h2>Restaurant survey</h2>
      <div class="d-flex">
        <button class="btn btn-success">Add Restaurant</button>
      </div>
    </div>
  </nav>
  <!--Table shown here-->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact number</th>
        <th scope="col">Service</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Honey</td>
        <td>Suvidha Nagar</td>
        <td>89656677</td>
        <td>Lunch</td>
        <td><button class="btn btn-info">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>


